@page "/editeur/couleurs"

<RedirectToSelectRace />
<PageTitle>Couleurs</PageTitle>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Couleur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var color in Colors)
            {
                <tr>
                    <td>
                        <div class="m-1 p-1" style="background-color:@color.Code">
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-secondary"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-danger" @onclick="() => ConfirmDeleteColor(color)"><span class="oi oi-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <EditForm class="row" Model="@addColor" OnValidSubmit="@AddColor">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-auto">
            <input class="form-control form-control-color" type="color" name="name" @bind-value="@addColor.Code" placeholder="Nom de la course" />
        </div>
        <div class="col-auto d-flex align-items-end">
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
    </EditForm>
</div>


<Confirm @ref="DeleteConfirmation"
         ConfirmationTitle="Supprimer la couleur"
         ConfirmationChanged="(confirm) => RemoveColor(confirm)">
</Confirm>
