@page "/editeur/couleurs"

<RedirectToSelectRace />
<PageTitle>Couleurs</PageTitle>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Couleur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var color in Colors)
            {
                <tr>
                    <td>
                        <div class="m-1 p-1" style="background-color:@color.Code">
                            <span>&nbsp;</span>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-secondary"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-danger" @onclick="() => RemoveColor(color.Id)"><span class="oi oi-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="row">
        <div class="col-auto">
            <input class="form-control form-control-color" type="color" name="name" @bind-value="@ColorPickerValue" placeholder="Nom de la course" />
        </div>
        <div class="col-auto d-flex align-items-end">
            <button class="btn btn-primary" @onclick="@AddColor">Ajouter</button>
        </div>
    </div>
</div>



