@page "/editeur/courses"

<PageTitle>Courses</PageTitle>

@if (AppState.IsRaceSelected)
{
    <h2>@AppState.Race.Name</h2>
    <p>@AppState.Race.Date.ToLongDateString()</p>
    <button class="btn btn-primary" @onclick="ClearSelectedRace">Changer de course...</button>
}
else
{
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var race in Races)
            {
                <tr>
                    <td>@race.Name</td>
                    <td>@race.Date.ToLongDateString()</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => SelectRace(race)"><span class="oi oi-share"></span></button>
                        <button class="btn btn-secondary" @onclick="() => EditRace(race.Id)"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-danger" @onclick="ConfirmDeleteRace"><span class="oi oi-trash"></span></button>
                    </td>
                </tr>
                <Confirm @ref="DeleteConfirmation" 
                ConfirmationTitle="Supprimer la course"
                ConfirmationMessage=@($"Es-tu sûr de vouloir supprimer '{race.Name}'?")
                ConfirmationChanged=@((confirm) => DeleteRace(confirm, race.Id))></Confirm>
            }
        </tbody>
    </table>
</div>

<div>
    <form class="d-flex">
        <div class="p-2">
            <label for="race-name" class="form-label">Nom</label>
            <input id="race-name" class="form-control" type="text" name="name" placeholder="Nom de la course" />
        </div>
        <div class="p-2">
            <label for="race-date" class="form-label">Date</label>
            <input id="race-date" class="form-control" type="date" name="date" value="09-05-1995" />
        </div>
        <div class="p-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
    </form>
</div>
}





