@page "/editeur/ordreparcours"

<RedirectToSelectRace/>
<PageTitle>Ordre des parcours</PageTitle>
<ColorSwitcher Colors=@Colors OnCurrentColorChanged="@((value)=> OnCurrentColorChanged(value))" />

<div class="flex-column">
    <div class="p-2">
        <ul class="list-group col-lg-6 col-md-12">
            @foreach (var track in TrackOrders)
            {
                <li class="list-group-item">@track.Track.Name</li>
            }
        </ul>
    </div>
    <div class="p-2">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
</div>
