@attribute [AllowAnonymous]
@page "/fun-login"
@layout MainLayout

<div class="form-signin">
    <h1 class="text-center">Connexion</h1>
    <EditForm Model="@user" OnValidSubmit="@Login">
        <div class="input-group p-2">
            <span class="input-group-text fas fa-user"></span>
            <input type="text" class="form-control" @bind-value="@user.UserName" placeholder="Pseudo">
        </div>
        <div class="input-group p-2">
            <span class="input-group-text fas fa-key"></span>
            <input type="password" class="form-control" @bind-value="@user.Password" placeholder="Mot de passe">
        </div>
        <div class="p-2">
            <button class="w-100 btn btn-primary" type="submit">Se connecter</button>
        </div>
        @if (ShowAuthenticationErrorMessage)
        {
            <div class="alert alert-danger" role="alert">
                Ce mot de passe ne correspondant pas à l'identifiant
            </div>
        }

    </EditForm>

</div>

