@attribute [Authorize(Roles="admin")]
@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex" style="margin-top: 58px">
    <div class="sidebar wrapper d-flex bg-light">
        <EditorNavMenu />
    </div>
    <div class="flex-fill">
        <main>
            <article class="content px-2 px-lg-4">
                @Body
            </article>
        </main>
    </div>
</div>
