.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 260px;
    height: 100%;
    top: 0;
    position: fixed;
    padding-top: 57px;
    background-color: #00635D;
}

main {
    margin-left: 260px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 52px;
    }

    main {
        margin-left: 52px;
    }
}
