@inject AppState AppState
<ul class="nav nav-pills flex-column w-100 mb-auto">
    <li class="nav-item">
        <NavLink class="nav-link" href="editeur/courses">
            <div class="d-flex">
                <div>
                    <span class="fas fa-person-running me-md-2"></span>
                </div>
                <div class="d-none d-md-block">Courses</div>
            </div>
        </NavLink>
    </li>
    @if (AppState.Race is not null)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/couleurs">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-palette me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Couleurs</div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/equipes">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-people-group me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Equipes</div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/parcours">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-road me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Parcours</div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/ordreparcours">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-signs-post me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Ordre des parcours</div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/categories">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-clock me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Catégories de bonus-malus</div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="editeur/bonus-malus">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-hourglass me-md-2"></span>
                    </div>
                    <div class="d-none d-md-block">Bonus-malus</div>
                </div>
            </NavLink>
        </li>
    }
</ul>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}