.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    margin-left: 260px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 52px;
    }

    main {
        margin-left: 52px;
    }
}
