@inject AppState AppState

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand px-3" href="#">Fun Trophy</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse">
            <div class="navbar-nav px-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="editeur/courses" @onclick="CloseNavMenu">Editeur</NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="chrono" @onclick="CloseNavMenu">Chrono</NavLink>
                    </li>
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle @NavSubMenuCssClass" @onclick="ToggleDropdown">Résultats</a>
                        <ul class="dropdown-menu @NavSubMenuCssClass">
                            <li>
                                <NavLink class="dropdown-item" href="resultats/parcours" @onclick="CloseNavMenu">Par parcours</NavLink>
                            </li>
                            <li>
                                <NavLink class="dropdown-item" href="resultats/equipe" @onclick="CloseNavMenu">Par équipe</NavLink>
                            </li>
                            <li>
                                <NavLink class="dropdown-item" href="resultats/fin" @onclick="CloseNavMenu">Finaux</NavLink>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool expandDropdown = true;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? NavSubMenuCssClass => expandDropdown ? "show" : null;

    private void CloseNavMenu()
    {
        collapseNavMenu = true;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    private void ToggleDropdown()
    {
        expandDropdown = !expandDropdown;
    }
}
