@inject AppState AppState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fun Trophy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editeur/courses">Courses</NavLink>
        </div>
        @if (AppState.Race is not null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/couleurs">Couleurs</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/equipes">Equipes</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/parcours">Parcours</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/ordreparcours">Ordre des parcours</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/categories">Type d'ajustements</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editeur/ajustements">Ajustements</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="chrono">Chrono</NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
