@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@page "/"
@layout UserLayout

<PageTitle>Accueil</PageTitle>

<div class="p-2 text-center">
    @if (SelectedRace is not null)
    {
        <h2>@SelectedRace.Name</h2>
        <h3>@SelectedRace.Date.ToLongDateString()</h3>
        <div class="p-2 d-flex flex-sm-row flex-column justify-content-center">
            <div class="p-2">
                <a class="btn btn-primary" href="/resultats/parcours">Résultats par parcours</a>
            </div>
            <div class="p-2">
                <a class="btn btn-primary" href="/resultats/equipe">Résultats par équipe</a>
            </div>
        </div>
        @if (SelectedRace.IsEnded)
        {
            <div class="p-2">
                <a class="btn btn-success" href="/resultats/final">Classement général</a>
            </div>
        }
    }
    else
    {
        <h1>Bienvenue !</h1>
        <p>Choisissez une course ci-dessous</p>

        @if (Races is null)
        {
            <p>Chargement...</p>
        }
        else if (!Races.Any())
        {
            <p>Aucune course disponible</p>
        }
        else
        {
            <div class="list-group d-inline-block">
                @foreach (var race in Races)
                {
                    <button class="list-group-item list-group-item-action px-4" @onclick="() => SelectRace(race)">
                        <div>
                            <strong>@race.Name</strong>, @race.Date.ToShortDateString()
                        </div>
                    </button>
                }
            </div>
        }
    }
</div>