@page "/editeur/ordreparcours"

<PageTitle>Ordre des parcours</PageTitle>

<div class="d-flex flex-row">
    @foreach (var color in Colors)
    {
        <div class="p-2">
            <input type="radio" class="btn-check" name="colors" id="color-@color.Id" autocomplete="off" value="@color.Id" checked=@(CurrentColorId == color.Id) @onchange="OnCurrentColorChanged">
            <label class="btn px-4 @(CurrentColorId == color.Id? "active": "")" style="background-color:@color.Code" for="color-@color.Id">&nbsp;</label>
        </div>
    }
</div>

