<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(UserLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(UserLayout)">
                <p>Désolé, cette page n'existe pas.</p>
                <a href="/">Retourner à l'accueil</a>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>