@using FunTrophy.Shared.Model

<div class="cs-container">
    <div class="cs-select" onclick="@(() => ToggleColorSelection())" style="background-color: @(CurrentColor == null ? "white" : CurrentColor.Code)"></div>
    @if (isOpen)
    {
        <div class="cs-list">
            @if (Colors is not null)
            {
                @foreach (var color in Colors)
                {
                    <div class="cs-item" onclick="@(() => SelectColor(color))" style="background-color:@color.Code">
                        <div class="cs-item-overlay"></div>
                    </div>
                }
            }
        </div>
    }
</div>


@code {
    private bool isOpen { get; set; }


    private ColorDto? CurrentColor { get; set; }

    private List<ColorDto>? _colors;

    [Parameter]
    public List<ColorDto>? Colors
    {
        get => _colors;
        set
        {
            if (value == _colors)
                return;
            _colors = value;
            if (_colors?.Any() == true)
                CurrentColor = _colors.First();
        }
    }

    private int? _currentColorId;

    [Parameter]
    public int? CurrentColorId {
        get => _currentColorId;
        set
        {
            CurrentColor = Colors?.FirstOrDefault(x => x.Id == value);
            _currentColorId = CurrentColor is null ? null : value;
        }
    }

    [Parameter]
    public EventCallback<int> CurrentColorIdChanged { get; set; }

    private void SelectColor(ColorDto color)
    {
        CurrentColor = color;
        CurrentColorId = color.Id;
        isOpen = false;
        CurrentColorIdChanged.InvokeAsync(color.Id);
        StateHasChanged();
    }

    private void ToggleColorSelection()
    {
        isOpen = !isOpen;
    }
}
